/* Social-IN minified css file */
body,html {
	height: 100%
}

body {
	padding-top: 60px
}

@media ( max-width :980px) {
	.navbar-text.pull-right {
		float: none;
		padding-left: 5px;
		padding-right: 5px
	}
}

.form-signin {
	max-width: 400px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05)
}

.form-signin .checkbox,.form-signin .form-signin-heading {
	margin-bottom: 10px
}

.form-signin input[type=password],.form-signin input[type=text] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px
}

.nav-list li.nav-header {
	color: #333
}

.nav-list li {
	line-height: 16px
}

.nav-list li a {
	background-position: 16px 9px;
	background-repeat: no-repeat;
	padding-left: 34px
}

.sidebar-nav {
	padding: 9px 0
}

.well {
	background-color: #F5F5F5;
	border: 1px solid #E3E3E3;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05) inset;
	margin-bottom: 20px;
	min-height: 20px
}

.nav-list li.expanded ul {
	list-style: none outside none;
	margin-left: 0
}

.nav-list li.expanded li a {
	display: block;
	margin-left: -15px;
	margin-right: -15px;
	padding: 3px 15px 3px 45px
}

.nav-list li.expanded li a:hover {
	background-color: #EEE;
	text-decoration: none
}

.nav-list li.expanded li.active a {
	background-color: #08C;
	color: #fff
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -50px
}

#footer,#push {
	height: 50px;
	padding-top: 30px;
	text-align: center
}

#footer {
	background-color: #f5f5f5
}

h1,h2,h3 {
	line-height: 25px
}

.com {
	color: #93A1A1
}

.lit {
	color: #195F91
}

.clo,.opn,.pun {
	color: #93A1A1
}

.fun {
	color: #DC322F
}

.atv,.str {
	color: #D14
}

.kwd,.linenums .tag {
	color: #1E347B
}

.atn,.dec,.typ,.var {
	color: teal
}

.pln {
	color: #48484C
}

.prettyprint {
	background-color: #F7F7F9;
	border: 1px solid #E1E1E8;
	padding: 8px
}

.prettyprint.linenums {
	box-shadow: 40px 0 0 #FBFBFC inset, 41px 0 0 #ECECF0 inset
}

ol.linenums {
	margin: 0 0 0 33px
}

ol.linenums li {
	color: #BEBEC5;
	line-height: 18px;
	padding-left: 12px;
	text-shadow: 0 1px 0 #FFF
}